<p style="color: green"><%= notice %></p>

<h1 class="mt-5"><%= @article.title %></h1>

<p><%= @article.body %></p>


<div class="btn btn-success btn-sm mt-2 mb-5">
  <%= link_to "Edit this article", edit_article_path(@article), :class => "btn" %>
</div>

<div class="btn btn-success btn-sm mt-2 mb-5">
  <%= link_to "Back to articles", root_path, :class => "btn" %>
</div>
